html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

div.container{
    position: relative;
}

header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.07);
    background: aliceblue;
    box-shadow: 0 5px rgba(128, 128, 128, 0.2);
    margin-bottom: 100px;
    position: sticky;
    top: 0;
}

div.header-content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.header-left, div.header-right{
    padding: 10px;
    display: flex;
}

header img{
    margin-right: 8px;
    border-radius: 16px;
}

div.header-left span{
    align-self: center;
}


div.header-right a{
    text-decoration: none;
    color: black;
    align-self: center;
    margin-right: 8px;
}

h1{
    text-align: center;
}

div.intro{
    margin-bottom: 40px;
    font-weight: lighter;
}

main{
    display: flex;
    flex-direction: column;
}

main div{
    font-size: 20px;
    align-self: center;
    margin-top: 20px;
}

main img{
    margin: 10px auto;
    box-shadow: 1px 1px grey;
    border: 2px solid rgba(128, 128, 128, 0.28);
    border-radius: 20px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 200px;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.07);
    background: rgba(128, 128, 128, 0.07);
    box-shadow: 0 1px rgba(128, 128, 128, 0.2);
    align-self: center;
}

footer{
    background: #D6E6F2;
    box-shadow: 0 5px rgba(128, 128, 128, 0.2);
    align-self: center;
    font-weight: bold;
    font-size: large;
    font-style: italic;
}


